body {
    font-family: Arial, sans-serif;
    background-image:url(image3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color:darkgreen;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:darkblue;
}

#weather-info {
    margin-top: 20px;
}